@import "front-colors";

$font-family: 'Work Sans', sans-serif;
$font-size: 14px;
$font-weight: 300;
$font-color: $color-main;

/* Buttons */
$button-radius: 0;

/* Alerts */
$alert-radius: 0;
$alert-padding: .75rem 1.25rem;