$color-main: #009fdf;
$color-red: #d6001c;
$color-white: #fff;
$color-grey: #706f6f;
$color-link: $color-main;

$color-basic: #f0f0f0;
$color--primary: #f0f0f0;;

$color-grey-line: #bcbcbc;

/* Blocks */
$color-block-blue: rgba(218,241,255,1);
$color-block-yellow: rgba(255,240,206,1);
$color-block-grey: #d8d8d8;
$color-lqd: #445bc1;

$color-cite: #888;
$color-highlight-green: #18c5c3;
$color-highlight-red: #ff6464;

/* galleries */
$color-gallery-image-hover: black;

/* Buttons */
$color-button: $color-main;
$color-button--primary: $color-main;
$bg-button: transparent;
$bg-button--primary: $color--primary;

/* Alerts */
$color-alert--primary: white;

$bg-alert: #888;

/* MENU */
$color-menu: $color-main;
$bg-menu: #fff;
$color-menu-link-border: #eee;

/* Tables */
$bg-border-table : #eee;

/* Footer */
$bg-footer: #eee;