@import "front-colors";
@import "front-variables";
@import "front-mixins";

button {
  cursor: pointer;
}

.button {
  font-size: 10px;
  display: inline-block;
  color: $color-button;
  background-color: $bg-button;
  padding: .375rem .75rem;
  font-weight: 400;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  overflow: visible;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -ms-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border: 1px solid $color-button;
  text-decoration: none;
  -webkit-border-radius: $button-radius;
  -moz-border-radius: $button-radius;
  border-radius: $button-radius;
  white-space: nowrap;
  text-transform: uppercase;

  &.big {
    font-size: $font-size;
    padding: .675rem .75rem;
  }

  &:hover {
    border-color: $color-red;
    color: $color-red;
  }

  &--primary {
    color: $color-button--primary;
    background: $bg-button--primary;
    border-color: $bg-button--primary;

    &:hover {
      border-color: $color-red;
    }
  }
}

.button-toolbar {
  @include display-flex();
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button-group {
  position: relative;
  @include display-flex('inline-flex');
  vertical-align: middle;

  button {
    position: relative;
    flex: 1 1 auto;
  }
}

.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}