{form form}
	<input name="q" type="search" class="search-input" value="{@$presenter->getParameter('q')}">
	<button type="submit" name="submit" class="search-input-button"><i class="fas fa-search"></i></button>
{*	{input submit}*}
{/form}
